<h4 class="my-lg-3">اطلاعات حساب</h4>
<hr>
<div class="row">
    <div class="col-md-6">
        <h5> <small>شماره حساب حقوقی:</small><b> {{ 004110115101 }}</b></h5>
        <h5> <small>بانک دریافت حقوق:</small><b>شهر</b></h5>
        <h5> <small>نام صاحب حساب:</small><b class="text-danger">خودش</b></h5>
    </div>
    <div class="col-md-12">
        <h4 class="m-t-2">
            <span class="fa fa-clock-o ion-clock pull-xs-right"></span>
            آخرین حقوق های دریافتی
        </h4>
        <table class="table table-hover table-striped">
            <thead>
            <th>ماه</th>
            <th>سال</th>
            <th>دریافتی</th>
            <th>اضافه کاری</th>
            <th>تعطیل کاری</th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">فروردین</a>
                </td>
                <td>1398</td>
                <td>{{ 45000000|number_format }}</td>
                <td>120 ساعت</td>
                <td>12 ساعت</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>