
<h4 class="my-lg-3">
    اعضای تحت تکفل و غیر تحت تکفل
    <small>
        ( 5 عضو )
    </small>
</h4>
<hr>
<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a>اعضای<strong> غیر تحت تکفل </strong>را دقت کنید.
</div>
<table class="table table-hover table-striped">
    <thead>
    <th>نام و نام خانوادگی</th>
    <th>نسبت</th>
    <th>وضعیت تکفل</th>
    </thead>
    <tbody>
    <tr>
        <td>محمد محمدی</td>
        <td>پدر</td>
        <td class="text-danger">غیر تحت تکفل</td>
    </tr>
    <tr>
        <td>محمد محمدی</td>
        <td>پدر</td>
        <td class="text-danger">غیر تحت تکفل</td>
    </tr>
    <tr>
        <td>محمد محمدی</td>
        <td>پدر</td>
        <td class="text-danger">غیر تحت تکفل</td>
    </tr>
    <tr>
        <td>محمد محمدی</td>
        <td>پدر</td>
        <td class="text-danger">غیر تحت تکفل</td>
    </tr>
    </tbody>
</table>
